<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs446.kluster"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="18" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    
    <permission android:name="com.cs446.kluster.READ_PERMISSION" 
        android:permissionGroup="com.cs446.kluster.PERMISSIONS"
        android:protectionLevel="normal"/>
    <permission android:name="com.cs446.kluster.WRITE_PERMISSION"
        android:permissionGroup="com.cs446.kluster.PERMISSIONS"
		android:protectionLevel="signature"/>
    
    <uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>	
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>   
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
        android:name="KlusterApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        
        <meta-data
	    android:name="com.google.android.maps.v2.API_KEY"
	    android:value="AIzaSyD1ds5m66xAScEdQVLFfTOf0rAI_WVLmVQ"/>
        
        <meta-data
	    android:name="com.google.android.gms.version"
	    android:value="@integer/google_play_services_version" />
        
        <service
            	android:name="com.cs446.kluster.sync.AuthenticatorService">
        	<intent-filter>
            	<action android:name="android.accounts.AccountAuthenticator"/>
        	</intent-filter>
        	<meta-data
            	android:name="android.accounts.AccountAuthenticator"
            	android:resource="@xml/authenticator" />
    	</service>
    	
        <service
                android:name="com.cs446.kluster.sync.SyncService"
                android:exported="true"
                android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter" />
        </service>
    	
        <service
            android:name="com.cs446.kluster.network.UploadService"
            android:exported="false" />
        
        <activity
            android:name="com.cs446.kluster.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
	    <activity
	        android:name="com.cs446.kluster.PhotoFactory"
	        android:label="@string/app_name"
	        android:parentActivityName="com.cs446.kluster.MainActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.cs446.kluster.MainActivity" />
	    </activity>
    
    	<provider android:name="com.cs446.kluster.photo.PhotoProvider"
            android:readPermission="com.cs446.kluster.READ_PERMISSION"
            android:writePermission="com.cs446.kluster.WRITE_PERMISSION"
            android:authorities="com.cs446.kluster.Photos"></provider>  
        <provider android:name="com.cs446.kluster.event.EventProvider"
            android:readPermission="com.cs446.kluster.READ_PERMISSION"
            android:writePermission="com.cs446.kluster.WRITE_PERMISSION"
            android:authorities="com.cs446.kluster.Events"></provider>  
            
    </application>

</manifest>
